#header-nav{
background-color: #f6b319;
color:red;
height:100px;
}
.navbar-brand
{
	padding-top:25px;
	color: red;
}
.navbar-brand h1{
	font-size: 1.8em;
	color: Red;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}
h2{
	color: SlateBlue;
	font-weight: 500px;

}
#submit1{
	font-weight:900;
}
SELECT{
	color: black;
	font-weight:300;
}
#bodtext{
	font-size:1.5em;
	font-weight: 450;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 200px;
	padding-bottom: 100px;
}
table{
	border-spacing: 20px;
}
tr{
	border-spacing: px;
}
body{
			text-align: center;
			font-family: Helvetica;
			background-color: #ecbcb4;
		}
form
{
	color: blue;
	font-size: 20px;
	font-weight: bold;
	border-spacing: 20px;
}
table{
	border-spacing: 20px;
    padding-top:20px;

}
button{
	color: White;
	background-color: red;
	border-radius: 12px;
}
@media (min-width: 499px) and (max-width:1199px)
{
	#image{
		width:400px;
		height:450px;
	}
	#bodtext{
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
}
	input{
	width:50px;
	height:75px;
}
}
@media (max-width:499px)
{
	#bodtext{
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#header-nav{
height:150px;
}
input{
	width:50px;
	height:50px;
}
}
