body{
	font-size:20px;
}
.navbar
{
	color:white;
	background-color:Blue;
	height: 100px;
}
h1{
	color: white;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list {
  color: Black;
  background-color:blue;
}
#hello1{
	height:1000px;
	background-color: Red;
}
@media (max-width:767px)
{
	#hello1{
	margin:10px 15px 10px 15px;
}
}